<div *ngIf="orderSent" class="m-a-1 text-xs-center">
    <h2>Спасибо!</h2>
    <p>Спасибо за покупку в нашем магазине.</p>
    <p>Наш менеджер свяжется с вами в ближайшее время.</p>
    <button class="btn btn-primary" routerLink="/">Вернуться к покупкам</button>
</div>
<form class="m-1" [formGroup]="formOrder" novalidate (ngSubmit)="submitOrder()" *ngIf="!orderSent">
    <div class="form-group">
        <label>Имя</label>
        <input type="text" class="form-control" name="name" formControlName="name">
        <span *ngIf="formOrder.controls.name.invalid" class="text-danger">Пожалуйста введите свое имя</span>
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input type="text" class="form-control" name="phone" formControlName="phone">
        <span *ngIf="formOrder.controls.phone.invalid" class="text-danger">Пожалуйста введите свое телефон</span>
    </div>
    <div class="text-xs-center">
        <button class="btn btn-secondary" routerLink="/cart">Назад</button>
        <button class="btn btn-primary" type="submit">Оформить заказ</button>
    </div>
</form>