<div class="d-flex">
    <div class="col-3 p-3 mt-3 rounded text-center categories-title">
        <button class="text-white btn btn-block col-12 categories-btn bg-secondary" routerLink="/admin/orders"> Заказы </button>
        <button class="text-white btn btn-block col-12 categories-btn bg-secondary mt-3" routerLink="/admin/products"> Продукты </button>
    </div>
</div>