<div class="container text-start">
    <div class="row">
        <div class="mb-3 mt-1 col-1 ms-1 me-1 d-flex align-items-center rounded">
            <span>ID</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded">
            <span>Название</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded">
            <span>Категория</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded" >
            <span>Цена</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded">
            <span>Картинка</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded">
            <span>Описание</span>
        </div>
        <div class="mb-3 mt-1 col">
            <button class="btn btn-primary d-block m-auto" [disabled]="true" >
                Сохранить все
            </button>
        </div>
    </div>
    <form [formGroup]="productForm" class="row" *ngFor="let productForm of productListGroup; let i = index" (ngSubmit)="save(productForm)">
        <!-- <form [formGroup]="orderForm"> -->
        <div class="mb-3 col-1 ms-1 me-1">
            <input type="text" formControlName="id" class="form-control" readonly/>
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="name" class="form-control">
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="category" class="form-control">
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="price" class="form-control">
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="image" class="form-control">
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="description" class="form-control">
        </div>
        <!-- </form> -->
        <div class="mb-3 col">
            <button class="btn btn-primary d-block m-auto" [disabled]="!productForm.dirty" type="submit">
                Сохранить
            </button>
        </div>

    </form>
</div>