/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';

.row > * {
    padding: 0;
}

* {
    user-select: none;
}