<div class="float-end text-white">
    <button class="btn btn-block btn-white float-end text-white bg-grey" routerLink="/admin">
        <!-- (fix) pack 2 directive -->
        Авторизация
    </button>
</div>

<!-- <div class="float-end text-white">

    <small>
        Карзина:
        <span *ngIf="cart.itemCount > 0">
            {{ cart.itemCount }} товар(ов)
            {{ cart.cartPrice | currency:"USD":true:"2.2-2" }}
        </span>
        <span *ngIf="cart.itemCount == 0">
            Пуста
        </span>
    </small>
    <button class="btn btn-sm bg-inverse text-white cursor-pointer" [disabled]="cart.itemCount == 0" routerLink="/cart">
        <i class="fa fa-shopping-cart"></i>
    </button>
</div> -->


<div class="navbar align-self-center d-flex">
    <!-- <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
        <div class="input-group">
            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
            <div class="input-group-text">
                <i class="fa fa-fw fa-search"></i>
            </div>
        </div>
    </div> -->
    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
        <i class="fa fa-fw fa-search text-dark mr-2"></i>
    </a>
    <a class="nav-icon position-relative text-decoration-none" routerLink="/cart">
        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
            *ngIf="cart.itemCount > 0">
            {{ cart.itemCount }}
        </span>
    </a>
    <!-- <a class="nav-icon position-relative text-decoration-none" href="#">
        <i class="fa fa-fw fa-user text-dark mr-3"></i>
        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
    </a> -->
</div>