<div class="colorlib-loader" style="display: none;"></div>
<div class="p-relative w-100 h-100">
    <app-header [arrrt]="arr"></app-header>
    <router-outlet></router-outlet>
    
</div>
<ng-template #alertContainer></ng-template>
{{arr | json}}
<!-- <button (click)="cl()">111</button>

<input [(ngModel)]="hash" type="text"> -->


