<form [formGroup]="formLogin" novalidate (ngSubmit)="login()" class="col-4 m-auto">
    <div class="mb-3">
        <label class="form-label"> Логин</label>
        <input type="text" class="form-control" name="name" formControlName="name" aria-describedby="name" autocomplete="off">
        <span *ngIf="formLogin.controls.name.invalid && formLogin.controls.name.touched && formLogin.controls.name.dirty" class="text-danger">Пожалуйста введите имя</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" formControlName="password" aria-describedby="password" autocomplete="off">
        <span *ngIf="formLogin.controls.password.invalid && formLogin.controls.password.touched && formLogin.controls.password.dirty" class="text-danger">Пожалуйста введите пароль</span>
    </div>
    <div class="text-xs-center">
        <button class="btn btn-primary" [disabled]="formLogin.invalid" type="submit">Войти</button>
    </div>
</form>