<h2 class="text-center">
    Ваша карзина
</h2>
<table class="table table-bordered table-striped p-1">
    <thead>
        <tr>
            <th>Количество</th>
            <th>Товар</th>
            <th class="text-start">Цена</th>
            <th class="text-start">Итог</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="cart.lines.length === 0">
            <td class="text-center" colspan="4">
                Ваша корзина пуста
            </td>
        </tr>
        <tr *ngFor="let line of cart.lines">
            <td>
                <input type="number" class="form-control" [value]="line.quantity"
                    (change)="cart.updateQuantity(line.product, $event)">
            </td>
            <td>{{line.product.name}}</td>
            <td class="text-end">
                {{line.product.price | currency: "USD" : true: "2.2-2"}}
            </td>
            <td class="text-end">
                {{(line.lineTotal) | currency: "USD" : true: "2.2-2"}}
            </td>
            <td class="text-center">
                <button class="btn btn-sm btn-danger" (click)="cart.removeLines(line.product.id)">
                    Удалить
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end">Количество:</td>
            <td class="text-end">
                {{cart.cartPrice | currency: "USD": true: "2.2-2"}}
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <button class="btn btn-primary" routerLink="/">Продолжить Покупки</button>
    <button class="btn btn-secondary" routerLink="/order" [disabled]="!cart.lines.length">
        Оформить
    </button>
</div>