<div class="container text-start">
    <div class="row">
        <div class="mb-3 mt-1 col-1 ms-1 me-1 d-flex align-items-center rounded">
            <span>ID</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded">
            <span>Имя</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded">
            <span>Телефон</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded" >
            <span>Цена</span>
        </div>
        <div class="mb-3 mt-1 col ms-1 me-1 d-flex align-items-center rounded">
            <span>Статус заказа</span>
        </div>
        <div class="mb-3 mt-1 col">
            <button class="btn btn-primary d-block m-auto" [disabled]="true" >
                Сохранить все
            </button>
        </div>
    </div>
    <form [formGroup]="orderForm" class="row" *ngFor="let orderForm of orderListGroup; let i = index" (ngSubmit)="save(orderForm)">
        <!-- <form [formGroup]="orderForm"> -->
        <div class="mb-3 col-1 ms-1 me-1">
            <input type="text" formControlName="id" class="form-control" readonly/>
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="name" class="form-control">
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="phone" class="form-control">
        </div>
        <div class="mb-3 col ms-1 me-1">
            <input type="text" formControlName="cartPrice" class="form-control">
        </div>
        <div class="mb-3 col ms-1 me-1">
            <select class="form-control" formControlName="status">
                <option *ngFor="let stateItem of states"  [selected]="stateItem === orderForm.controls.status.value">
                    {{stateItem}}
                </option>
            </select>
            <!-- <input type="text" formControlName="status" class="form-control"> -->
        </div>
        <!-- </form> -->
        <div class="mb-3 col">
            <button class="btn btn-primary d-block m-auto" [disabled]="!orderForm.dirty" type="submit">
                Сохранить
            </button>
        </div>

    </form>
</div>

<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">
                Имя
            </th>
            <th scope="col">
                Телефон
            </th>
            <th scope="col">
                Цена
            </th>
            <th scope="col">
                Статус заказа
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let orderForm of orderListGroup; let i = index">
            <form [formGroup]="orderForm" [id]="'form_'+i"></form>
            <td>
                <input type="text" formControlName="name" [attr.form]="'form_' + i">
            </td>
            <td>
                <input type="text" formControlName="phone" [attr.form]="'form_' + i">
            </td>
            <td>
                <input type="text" formControlName="cartPrice" [attr.form]="'form_' + i">
            </td>
            <td>
                <input type="text" formControlName="status" [attr.form]="'form_' + i">
            </td>
        </tr>
    </tbody>
</table> -->