<div class="d-flex">
    <div class="col-3 p-3 mt-3 rounded text-center categories-title">
        <button class="btn btn-block col-12 categories-btn" (click)="changeCategory()">
            Home
        </button>
        <button *ngFor="let categor of categories" class="btn btn-block col-12 mt-1 categories-btn"
            [class.active]="categor === selectedCategory" (click)="changeCategory(categor)">
            {{categor}}
        </button>
    </div>
    <div class="col-9 p-3">
        <!-- <div *ngFor="let product of products; trackBy:getKey" class="card card-outline-primary"> -->

        <div *appTestFor="let product of products" class="card card-outline-primary">
            <h4 class="card-header">
                {{product.name}}
                <span class="float-end badge bg-secondary">
                    {{ product.price | currency:"USD":true:"2.2-2" }}
                </span>
            </h4>
            <div class="card-text p-1">
                {{product.description}}
                <button class="btn btn-success btn-sm float-end" (click)="addProductToCart(product)">
                    Добавить в карзину
                </button>
            </div>
        </div>
        <div class="form-inline float-start mr-1">
            <select name="" id="" class="form-control" [value]="productPerPage" (change)="changePageSize($event)">
                <option value="3">3 per page</option>
                <option value="4">4 per page</option>
                <option value="6">6 per page</option>
                <option value="9">9 per page</option>
            </select>
        </div>

        <div *appTestIf="true" class="btn-group float-end">
            <button *pagination="let page of pageNumbers | slice: 0: 5" class="btn btn-primary"
                (click)="changePage(page)" [class.active]="page === selectedPage">
                {{ page }}
            </button>
        </div>
    </div>
</div>



<!-- <div  *ngFor="let control of form.contrlsList">
    <input 
        [(ngModel)]="newProduct[control.modelProperty]"
        name="{{control.modelProperty}}"
        formControlName="{{control.modelProperty}}" />
    <ul *ngIf="(formSubmitted || control.dirty) && control.invalid">
        <li *ngFor="let error of control.getValidateMessage()">
            {{error}}
        </li>
    </ul>
</div> -->