@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.categories{
    &-title {
        height: fit-content;
    }
    &-btn {
        background-color: $gray-400;
    }
    &-btn.active {
        background-color: $cyan-500;
    }
}
